#playerHover {
    margin: auto;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#player {
    position: fixed;
    margin: auto;
    z-index: -99999;
    -webkit-user-select: none;
    user-select: none;
    transform: scale(1.8, 1.8);
    background: #555555;
    opacity: 0.5;
    filter: blur(4px) grayscale(100);
}